:root {
    --cor-principal: #14405d;
    --cor-white: #ffffff;
    --cor-texto: #d7d7d7;
    --altura-coluna: 450px;
    --altura-img: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Sans", sans-serif;
}

.container_principal {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.coluna_esquerda {
    width: 65%;
    height: var(--altura-coluna);
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        width: 100%;
        height: var(--altura-img);
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 4px 4px 5px #303030;
        transition: 0.5s;
    }

    & img:hover{
        box-shadow: 8px 8px 10px #303030;
        border-radius: 10px;
    }
}

.informacao {
    height: calc(var(--altura-coluna) - var(--altura-img));
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;

    & h1 {
        font-size: 30px;
    }
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    & p {
        font-size: 16px;
    }

    & a {
        width: 130px;
        height: 40px;
        margin: 20px 0 0 0;
        background-color: var(--cor-principal);
        color: var(--cor-white);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    & a:hover{
        width: 150px;
        font-size: 18px;
        background-color: #287eb8;
        box-shadow: 4px 4px 4px var(--cor-principal);
    }
}

.coluna_direita {
    width: 30%;
    height: var(--altura-coluna);
    padding: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.5s;
    border-radius: 5.5px;

    & h1 {
        color: var(--cor-white);
    }

    & h2 {
        padding: 0 0 5px 0;
    }
}

.coluna_direita:hover{
    background-color: #287eb8;
    box-shadow: 6px 6px 4px var(--cor-principal);
    border-radius: 10px;
}

