:root {
    --cor-principal: #14405d;
    --cor-white: #ffffff;
    --cor-texto: #cfcfcf;

    --altura-coluna: 450px;
    --altura-img: 300px;
    --largura-container: 90%;
    --largura-botao: 130px;
    --altura-botao: 40px;

    --margem-centralizada: auto;
    --margem-coluna: 0 40px 0 0;
    --margem-botao: 20px 0 0 0;
    --padding-informacao: 20px 0 0 0;
    --padding-coluna: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Sans", sans-serif;
}

.container_principal {
    width: var(--largura-container);
    min-height: 100vh;
    margin: var(--margem-centralizada);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.coluna_esquerda {
    width: 65%;
    height: var(--altura-coluna);
    margin: var(--margem-coluna);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coluna_esquerda img {
    width: 100%;
    height: var(--altura-img);
    object-fit: cover;
}

.informacao {
    height: calc(var(--altura-coluna) - var(--altura-img));
    padding: var(--padding-informacao);
    display: flex;
    flex-direction: row;
}

.informacao h1 {
    width: 80%;
}

.descricao {
    display: flex;
    flex-direction: column;
}

.descricao a {
    width: var(--largura-botao);
    height: var(--altura-botao);
    margin: var(--margem-botao);
    background-color: var(--cor-principal);
    color: var(--cor-white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna_direita {
    width: 30%;
    height: var(--altura-coluna);
    padding: var(--padding-coluna);
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.coluna_direita h1 {
    color: var(--cor-white);
}